@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.App {
  background: #241d2c;
  background-image: url(https://res.cloudinary.com/dp9zv16le/image/upload/v1650336598/reto1-sptrint2/pattern-hills_b28jq8.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}

.layer-particles {
  background: url("https://res.cloudinary.com/dp9zv16le/image/upload/v1650336598/reto1-sptrint2/bg-stars_fn2mob.svg");
  background-repeat: repeat;
  height: 100vh;
  background-size: cover;
}

@media screen and (min-width: 600px) and (max-width: 799px) and (orientation: landscape) {
  .App {
    height: 130vh;
  }
}

@media screen and (min-width: 800px) and (max-width: 1023px) and (orientation: landscape) {
  .App {
    height: 150vh;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .App {
    height: 130vh;
  }
}
